/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    /* background-image:linear-gradient(to bottom, #A7A7A7 0%, #E4E4E4 51%); */
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    /* text-transform:uppercase; */
    width:100%;
    background-color: #333333;
}

.grid-container{
    display: grid;
    height:75%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 170px 1fr 3fr 2fr;
}
.logo{
    background:url(../img/logo.png) no-repeat center top;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 0px 0px 0px 20%;
}
#timer{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0px 15% 0px 15%;
    align-self: center;
    text-align: center;
    font-size: 50px;
    font-family: consolas;
    /* background-color: #707070; */
    border-radius: 20px;
    border:3px solid;
}
.distance{
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    text-align:center;
    align-self: end;
    font-size: 40px;
    font-family: consolas;

}
#dataContainer {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    text-align:center;
    align-self: start;
    font-size: 100px;
    font-family: consolas;
}
#connectionInfo {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    text-align:center;
    align-self: start;
    font-size: 25px;
    font-family: consolas;
}

.button-container{
    position: relative;
    /* top: 60%; */
    margin:-15px 15px 0px 15px;
    height: 25%;
    display: grid;
    grid-row-gap: 6px;
    grid-column-gap: 4px;
    grid-template-rows: 2fr 1fr;
}
.startButton{
    grid-column: span 1;
    font-size: 25px;
    border:3px solid;
    border-radius: 10px;
    font-family: consolas;
    background-color: #707070;
}
.endButton{
    grid-column: span 1;
    font-size: 25px;
    border:3px solid;
    border-radius: 10px;
    font-family: consolas;
    background-color: #707070;
}
.connectButton{
    grid-column: span 2;
    font-size: 20px;
    border:3px solid;
    border-radius: 10px;
    font-family: consolas;
    background-color: #707070;
}

.event {
    border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

#deviceready.ready .event.listening { display: none; }
#deviceready.ready .event.received { display: block; }

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


@media screen and (prefers-color-scheme: dark) {
    body {
        background-image:linear-gradient(to bottom, #268f80 0%, #1b5358 51%);
    }
}

